{
    "token": "token-here",
    "prefix": "",
    "devModeGuildID": "",
    "defaultCommandCooldown": 3,
    "hiddenCommands": [],
    "blacklistCommands": [],
    "blacklistUsers": ["id1", "id2"],
    "adminUsers": ["id1", "id2"],
    "autoP": true,
    "autoPUsers": ["id1", "id2"],
    "jetlagMode": true,
    "jetlagUsers": {"id1": "delay hours", "id2": "delay hours"},
    "debtStart": 0,
    "adultMode": false,
    "bodyParts": ["face", "head", "arm", "stomach", "knee", "elbow", "thigh", "neck"]
}
