{
    "token": "token-here",
    "prefix": "",
    "devModeGuildID": "",
    "blacklistCommands": [],
    "hiddenCommands": [],
    "defaultCommandCooldown": 3,
    "blacklistUsers": ["id1", "id2"],
    "autoP": true,
    "autoPusers": ["id1", "id2"],
    "debtStart": 0,
    "jetlagMode": true,
    "adultMode": false,
    "bodyParts": ["face", "head", "arm", "stomach", "knee", "elbow", "thigh", "neck"]
}
