module.exports = {
    prefix: '',
    token: 'token-here',
    autoP: {
        enabled: true,
        users: new Set(['User1', 'User2']),
    },
    debtStart: new Date('1970-01-01T00:00:00.000Z'),
    jetlagMode: true,
};
