const { Config } = require('./../config-handler.js');

const execute = function execute(message, commandName, ...args) {
    // Make the command do something
};

module.exports = {
    // Command name
    name: 'role',

    // Command also triggers on these command names
    // alias: ['addRole', 'giveRole'],

    // Command description
    // description: 'Assign a role to a user',

    // Command is disabled, unusable
    // disabled: true,

    // Command requires at least these member permissions (see Discord.Permissions.FLAGS)
    // permissions: 0x0,

    // Command will work in servers only, not in DMs
    // guildOnly: true,

    // Command will work in DMs only, not in servers
    // dmOnly: true,

    // Command requires at least this amount of arguments (whitespace-separated)
    // arguments: 1,

    // Command usage instructions
    // usage: '{add|remove} <role> {<username>|<userid>}',

    // After using this command, it can only be used again after this time in seconds
    // cooldown: 5,

    execute,
};
